html
	font-family: "Lucida Sans Unicode", sans-serif
	text-align: center
	color: #696969

h1
	font-size: 22px
h2
	font-size: 18px
h3
	font-size: 16px
p
	font-size: 13px
li 
	font-size: 12px
	padding-bottom: 5px

#mainContainer
	width: 100%

//**********homepage************

#homepage
	width: 100%

//header
.homeheader
	width: 100%
	padding-top: 5px
	margin-bottom:40px

.homelogo

.hometitle
	padding-top: 20px 
	font-size: 80px

#homejoinevent, #homecreateevent, #homeaboutkale
	margin-bottom: 25px
	padding-bottom: 25px
	font-size: 35px
	border-bottom-style:solid
	border-width: 2px

#homejoinevent
	border-top-style:solid
	padding-top: 25px