html
	font-family: "Lucida Sans Unicode", sans-serif
	text-align: center
	color: #696969

h1
	font-size: 22px
h2
	font-size: 18px
h3
	font-size: 16px
p
	font-size: 13px
li 
	font-size: 12px
	padding-bottom: 5px

#mainContainer
	width: 100%

//**********homepage************

#homepage
	width: 100%

//header
.homeheader
	width: 100%
	margin-top: 15px
	margin-bottom:40px

.hometitle
	padding-top: 20px 
	font-size: 80px

#homejoinevent, #homecreateevent, #homeaboutkale
	margin-bottom: 25px
	padding-bottom: 25px
	font-size: 35px
	border-bottom-style:solid
	border-width: 2px
	border-color: #696969
	color: #009D20

#homejoinevent
	border-top-style:solid
	border-color: #696969
	padding-top: 25px

.settings
	margin-top: 15px
//************create
#createheader
	padding-top: 10px
	margin-bottom: 20px

#createtitle
	margin-top: 15px
	margin-bottom: 10px 
	font-size: 30px
	color: #009D20
	font-weight: 900

.createText
	padding-bottom: 18px

.creationText
	font-size: 24px
	padding-bottom: 8px
	padding-top: 8px
	text-align: center

.eventsubmit
	padding-top: 10px

//***************join
#joinheader
	padding-top: 10px
	margin-bottom: 20px

#jointitle
	margin-top: 15px
	margin-bottom: 10px 
	font-size: 30px
	color: #009D20
	font-weight: 900

.aneventname
	font-size: 30px
	margin-bottom: 4px

.aneventlocation
	font-size: 18px
	margin-bottom: 4px

.aneventspeaker
	font-size: 14px
	margin-bottom:15px
	color: #009D20

#joinlogo
	margin-top: 10px
	margin-bottom:15px

//****************spec
#specheader
	padding-top: 10px
	margin-bottom: 20px

#spectitle
	margin-top: 15px
	margin-bottom: 10px 
	font-size: 30px
	color: #009D20
	font-weight: 900

.submitquestion
	margin-top:17px

#newquestion
	font-size: 16px
	padding-bottom: 8px
	padding-top: 8px
	text-align: center
	width: 70%
	height: 100px


#askquestion
	margin-top:15px

.question
	font-size:20px
	padding-left:5px
	padding-right:5px
	line-height:120%

.votes
	margin-top:5px
	color: #009D20
	font-size: 18px
	margin-bottom:6px

//******************admin
#adminheader
	padding-top: 10px
	margin-bottom: 20px

#admintitle
	margin-top: 15px
	margin-bottom: 10px 
	font-size: 30px
	color: #009D20
	font-weight: 900
#endevent
	margin-top: 50px
//*****************about
#aboutheader
	padding-top: 10px
	margin-bottom: 20px

#abouttitle
	margin-top: 15px
	margin-bottom: 10px 
	font-size: 30px
	color: #009D20
	font-weight: 900

.aboutbullet
	font-size:18px
	margin-left:10px
	margin-right:10px

.abouttext
	font-size:18px
	margin-left:10px
	margin-right:10px

.aboutlogo
	margin-top: 15px
	margin-bottom:15px
//*****************settings
#settingsheader
	padding-top: 10px
	margin-bottom: 20px

#settingstitle
	margin-top: 15px
	margin-bottom: 10px 
	font-size: 30px
	color: #009D20
	font-weight: 900

#comingsoon
	font-size: 30px
	margin-bottom: 4px


#settingslogo
	margin-top: 50px
	margin-bottom:15px

